#map {
  height: 100%;
  display: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: cornflowerblue;
}
#splash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}
.img {
  width:200px;
  height: auto;
}
button {
  font-size: 2em;
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: cornflowerblue;
}
.zoom > button {
  
  padding: 15px;
  background:whitesmoke;
}

.pan {
  max-width: 100px;
}

.pan > button {
  font-size: 3em;
  background: whitesmoke;
  padding: 5px;
  max-width: 100px;
}
